body {
  background: #ddd;
  font-size: 14px;
  width: 98%;
  height: 95%;
  margin: auto;
  padding-top: 1%;
}

body, table {
  font: 12px Arial;
}

h5 {
  margin-top: 0px;
  margin-bottom: 5px;
}

#visualizations {
  padding:15px;
  background:#fff;
  margin-top: 15px;
}

#options {
  padding: 15px;
}

#topOptions {
  display: inline-block;
}

#bottomOptions {
  display: inline-block;
}

#sourceSelection {
  float: left;
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px;
}

#intervalSelection {
  float: left;
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px;
}

#chartSelection {
  float: left;
  display: inline-block;
  padding-bottom: 10px;
}

#numberTermsSelection {
  float:left;
  display: inline-block;
  padding-right: 10px;
}

#updateButtonContainer {
  float: left;
  display: inline-block;
}

#left {
  float: left;
  width: 45%;
  height: 85%;
}

#tagCloud {
  height: 85%;
  width: 100%;
  padding: 1%;
  margin: 0px;
  margin-top: 35px;
}

#timeline {
  float: right;
  height: 600px;
  width: 50%;
  margin: 0px;
  padding: 1%;
  background: #ddd;

}

#relationshipChart {
  height: 100%;
  width: 100%;
  /*background: #F00;*/
  margin: 0px;
}

#intervalSlider {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  justify-content: center;
}

.active {
  display:inline-block;
}

.inactive {
  display: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}  

.layerLine { 
    stroke: black;
    stroke-width: 0.02;
    fill: none;
  }
  .positive{
    
  }
  .negative{
     
  }
  .bar rect{
    margin-right: 10px;
  }
  .menu a{
    font-size: 14px;
  }
  #barChart{
    clear: both;
    margin-top: 20px;
  }

  /* For tooltip over other terms */
  div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 60px;          
    height: 28px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}
.layerTerm{
  font-size: 10px;
  color: red;

}
.lineXAxis{
  visibility: hidden;
}